<div class="row">
  <div class="col-md-4 mx-auto">
    <app-make-post></app-make-post>
  </div>
</div>

<div class="row">
  <div class="col-md-4 mx-auto">
    <!-- For Image-->

    <div *ngFor="let post of posts" class="mt-5">
      <div *ngIf="post.type === 'image'">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image [src]="post.content" alt="Photo of a Shiba Inu" />
          <mat-card-content> </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-primary mr-2">LIKE</button>
            <button mat-button class="btn btn-success">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <!-- For Videos -->

    <div *ngFor="let post of posts" class="mt-5">
      <div *ngIf="post.type === 'video'">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
          <mat-card-content>
            <iframe
              class="img-fluid"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/1ozGKlOzEVc"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-primary mr-2">LIKE</button>
            <button mat-button class="btn btn-success">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <!-- For Text-->

    <div *ngFor="let post of posts" class="mt-5">
      <div *ngIf="post.type === 'text'">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="display-4">{{ post.content }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-primary mr-2">LIKE</button>
            <button mat-button class="btn btn-success">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div *ngFor="let postLocal of arrayOfObjects" class="mt-5">
      <div *ngIf="postLocal.videoControl || postLocal.textControl !== ''">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="display-4" *ngIf="postLocal.textControl !== ''">
              {{ postLocal.textControl }}
            </p>
            <img
              *ngIf="postLocal.imageControl !== ''"
              [src]="postLocal.imageControl"
              alt=""
            />
            <iframe
              *ngIf="postLocal.videoControl"
              class="img-fluid"
              width="560"
              height="315"
              [src]="postLocal.videoControl"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button class="btn btn-primary mr-2">LIKE</button>
            <button mat-button class="btn btn-success">SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
